@import "./vars.scss";

.containerItems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
        color: #ffffff;
        margin-bottom: 40px;
    }
    .itemsContainer{
        max-height: 66vh;
        overflow: auto;
        width: 40%;
        padding: 0 10px;
        ; 
        &::-webkit-scrollbar{
            width: 3px;
            background-color: transparent;
            scrollbar-color: dark               
        }
        &::-webkit-scrollbar-thumb{
            background-color: rgb(233, 233, 233);
        }
        .itemAdd{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;        
            margin: 20px 0;
            border-radius: 15px;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #f5f5f5;
            box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.75);
            input{
                margin: 0px 15px;
                width: 100px;
                height: 30px;        
            }
            select{
                height: 30px;
            }
            label{
                margin: 0;
            }
            .otroGastoDiv{
                display: flex;            
                align-items: center;
                margin-right: 30px;
                input{
                    width:20px;
                    height:18px;
                }
            }
            img{
                width: 60px;
                max-height: 60px;
            }
            span{
                margin: 0 10px;
            }
        }   
    }
    .buttonsContainer{
        display: flex; 
        width: 38vw;       
        .buttons{
            width: 74%;
            display: flex;
            justify-content: center;
            display: flex;
            align-items: center;
            button{
                font-size: 21px;
                margin: 0 10px;
                padding: 0 13px;
                user-select: none;
                &.disable{
                    pointer-events: none;
                }
            }
        }
        .endButton{
            background-color: $violeta-oscuro;
            color: #ffffff;
            height: auto;
            font-weight: 600;
            user-select: none;
            &.disable{
                pointer-events: none;
            }
        }
    }
}

@media (max-width: 450px){
    .containerItems{
        h3{
            margin: 0;
            margin-top: 3vh;
            color: rgb(42, 42, 42);
        }
        .itemsContainer{
            width: 95vw;
            margin: 2vh 10px;
           
            .itemAdd{
                flex-direction: column;
                flex-wrap: wrap;
                img{
                    display: none;
                }
                input{
                    margin: 2vh 0;
                    width: 80%;
                } 
                select{
                    width: 80%;
                }
                .otroGastoDiv{
                    margin: 0;
                }
            }
        }
        .buttonsContainer{
            width: 95vw;
            height: auto;        
            .buttons{
                align-items: center;
                span{
                    font-size: 18px;
                }
            }
            .endButton{
                height: 55px;
            }               
        }
    }
}