.addStoreContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;    
    form{
        width: 30%;
        padding: 40px;
        border-radius: 20px;        
        border: 1px solid rgb(242, 227, 255);
        margin-top: 70px;
        margin-bottom: 100px;
        box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);        
        background-color: #ffffff;    
        input{
            margin: 10px 0px;   
            border:none;        
            border-bottom: 2px solid rgb(243, 242, 242);                
            background-color: #ffffff;   
            text-align: center;         
            &:focus{
                outline-style: none;
                border-bottom: 1px solid rgb(243, 242, 242);
            }
            &::placeholder{
                text-align: center;
            }
        }
        button{
            margin-top: 15px;
            background-color: #893ef3;
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            height: 40px;
            cursor: pointer;
            &:hover{
                background-color: #9b5bf5;                
            }
        }    
        
    }
}

@media(max-width:450px){
    .addStoreContainer{
        form{
            width: 95vw;
        }
    }
}