.bottonContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:   #ffffff;
    position: fixed;
    bottom: 0px;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    border: 1px solid #c7a8f0;
    border-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -2px 8px -5px rgba(0,0,0,0.75);

    //#351b58

    .ordenVentaContainer{
        display: flex;
    justify-content: center;
    }

    .optionsContainer{
        display: flex;
        .datosContainer{
            display: flex;
            width: 80%;
            justify-content: space-around;
            .valueDiv{
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                user-select: none;
                h4{
                    margin:0;
                    color: #351b58;
                }
                h3{
                    font-size: 2rem;
                    margin:0;
                    color: #351b58;
                }
            }
        }
        
        .buttonsContainer{
            display: flex;
            justify-content: center;
            flex-direction: column;
            div{
                padding:10px;
                text-align: center;
                background-color: #ffffff;
                margin: 5px;
                border-radius: 10px;
                border: 1px solid #ebebeb;
                color:#351b58;
                user-select: none;
                &:hover{
                    background-color: #f8f8f8;
                }               
            }

        }
    }
}