
    .itemDiv{
        margin: 10px;
        background-color: #8338ec;
        padding: 5px;
        border-radius: 6px;
        display: flex;
        color: whitesmoke;
        align-items: center;
        user-select: none;
        h4{
            font-size: 15px;
            
            margin: 0;
        }
    }