@import './vars.scss';

.loginScreenContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .formsMsjContainer{
        height: 50%;
        display: flex;
        width: 80%;
        .titleContainer{
            width: 50%;
            color: $violeta-oscuro;
        }
        .formContainer{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    svg{
        position: absolute;
        bottom: 0;       
    }
}