@import "./vars.scss";

.movContainer {
  display: flex;
  justify-content: center;
  .titleMovs {
    display: flex;
    flex-direction: column;
    width: 80%;
    .titlesDiv {
      display: flex;
      justify-content: space-between;
        margin: 15px 0px;
      .titleItemsDiv {
        display: flex;
        justify-content: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        h3 {
          margin: 0;
        }
      }
      .valuesTitlesDiv {
        display: flex;
        width: auto;
        
        h3 {
          margin: 0px 7px;
        }
      }
    }

    .listaMovsContainer {
      display: flex;

      flex-direction: column;
      .movContainer{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid #e4d5f8;
        margin: 10px 0px;
        box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.75);

        .movDiv {
          display: flex;
          justify-content: space-between;
          .containerItem {
            display: flex;
            width: auto;
            h4 {
              margin: 3px;
              color: white;
              border-radius: 6px;
              background-color: $Violet;
              padding: 5px;
            }
          }
          .valuesDiv {
            display: flex;
            width: auto;
            align-items: center;
            h3 {
              margin: 0px 10px;
            }            
          }
        }
        .detailsContainer{
          display: flex;
          justify-content: center;
          .cardDetails{
            width: auto;
            border: 1px solid gray;
            padding: 10px 25px;
            border-radius: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
