@import "./vars.scss";

.movContainer {
  display: flex;
  justify-content: center;
  max-height: 100%;  
  .titleMovs {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
    .titlesDiv {
      display: flex;
      justify-content: space-between;
        margin: 15px 0px;
        h3{
          color: #414141;
        }
      .titleItemsDiv {
        display: flex;
        justify-content: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        h3 {
          margin: 0;
        }
      }
      .valuesTitlesDiv {
        display: flex;
        width: auto;
        
        h3 {
          margin: 0px 7px;
        }
      }
    }

    .listaMovsContainer {
      display: flex;
      flex-direction: column;
      padding-bottom: 10%;
      overflow: auto;
      max-height: 100%;
      &::-webkit-scrollbar{
        width: 1px;
      }
      .movContainer{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid #e4d5f8;
        margin: 10px 0px;
        box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.75);
        .movDiv {
          display: flex;
          justify-content: space-between;
          .containerItem {
            display: flex;
            width: auto;
            h4 {
              margin: 3px;
              color: white;
              border-radius: 6px;
              background-color: $Violet;
              padding: 5px;
            }
          }
          .valuesDiv {
            display: flex;
            width: auto;
            align-items: center;
            h3 {
              margin: 0px 10px;
            }            
          }
        }
        .detailsContainer{
          display: flex;
          justify-content: center;
          .cardDetails{
            width: auto;
            border: 1px solid rgb(221, 221, 221);
            padding: 10px 25px;
            text-align: center;
            border-radius: 20px;            
            max-width: 300px;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: 3%;
            margin-right: 3%;
          }
        }
      }
    }
  }
}

@media (max-width: 450px){
  .movContainer{
    .titleMovs{
      width: auto;
      .titlesDiv{
        display: none;
      }
      .listaMovsContainer{
        width: 95vw;
        .movContainer{
          .movDiv{
            flex-direction: column;
            .containerItem{
              flex-wrap: wrap;
              justify-content: center;
              padding-bottom: 10px;
            }
            .valuesDiv{
              flex-direction: row-reverse;     
              h3{
                font-size: 1.5rem;
              }         
            }
          }
          .detailsContainer{
            margin-top: 10px;
            flex-direction: column;
            .cardDetails{
              margin: 1vh 0;
            }
          }
        }
      }
    }
  }
}

