.NavBar {
    display: flex;    
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    .buttonNav{
        background-color: #ffffff;
        margin: 0px 5px;
        padding: 5px;
        border-radius: 6px;
        border: none;
        box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.75);
        &:focus{
            outline: none;            
        }   
        &:active{
            box-shadow: 0px 4px 1px -5px rgba(0,0,0,0.75);
        }
        &:hover{
            background-color: #f8f8f8;
        }
    }
}