@import './vars.scss';

.ordenesContainerDiv{
    .buttonCloseContainer{
        display: flex;
        padding-top: 5px;
        justify-content: flex-end;
        button{
            background-color: #cfaaff;
            color: #ffffff;
        }
    }
    .ordenesDiv{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;

        .ordenDiv{
            margin: 10px;
            background-color:$Violet;
            padding: 5px;
            border-radius: 6px;
            display: flex;
            h4{
                margin: 0;
                color: white;
            }
        }
    }
    .detailsFormContainer{
        display: flex;       
        flex-direction: column; 
        input{
            margin-bottom: 15px;
        }
        .envioDiv{
            display: flex;
            align-items: center;
            justify-content: center;
            label{
                margin:0px 10px
            }
            input{
                margin:0
            }
        }
        .precioMayorista{
            display: flex;
            align-items: center;
            justify-content: center;
            label{
                margin:0px 10px
            }
            input{
                margin:0
            }
        }
        .datosClienteDiv{
            display: flex;
            align-items: center;
            justify-content: center;
            label{
                margin:0px 10px
            }
            input{
                margin:0
            }
        }
    }
    .buttonsContainer{
        display: flex;
        margin-bottom: 10px;        
        div{
            margin: 0px 30px;
            background-color: #893ef3;
            padding: 15px;
            border-radius: 10px;
            color: #ffffff;
            cursor: pointer;
            user-select: none;            
        }
        &.disable{
            pointer-events: none;
        }
    }
}

    
