@import './vars.scss';

.ordenesContainerDiv{
    .buttonCloseContainer{
        display: flex;
        padding-top: 5px;
        justify-content: flex-end;
        button{
            background-color: #cfaaff;
            color: #ffffff;
        }
    }
    .ordenesDiv{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;

        .ordenDiv{
            margin: 10px;
            background-color:$Violet;
            padding: 5px;
            border-radius: 6px;
            display: flex;
            h4{
                margin: 0;
                color: white;
            }
        }
    }
    .detailsFormContainer{
        display: flex;       
        flex-direction: column; 
        input{
            margin-bottom: 15px;
        }
        .envioDiv{
            display: flex;
            align-items: center;
            justify-content: center;
            label{
                margin:0px 10px
            }
            input{
                margin:0
            }
        }
        .precioMayorista{
            display: flex;
            align-items: center;
            justify-content: center;
            label{
                margin:0px 10px
            }
            input{
                margin:0
            }
        }
        .datosClienteDiv{
            display: flex;
            align-items: center;
            justify-content: center;
            label{
                margin:0px 10px
            }
            input{
                margin:0
            }
        }
    }
    .buttonsContainer{
        display: flex;
        margin-bottom: 10px;        
        div{
            margin: 0px 30px;
            background-color: #893ef3;
            padding: 15px;
            border-radius: 10px;
            color: #ffffff;
            cursor: pointer;
            user-select: none;            
        }
        &.disable{
            pointer-events: none;
        }
    }
}

@media (max-width:450px){
    .ordenesContainerDiv{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;            
        .buttonCloseContainer{
            position: absolute;
            right: 10px;
            top: 5px;
        }
        .ordenesDiv{            
            margin: 0;
            flex-wrap: wrap;
            padding: 0 20px;
        }
        .detailsFormContainer{
            align-items: center;
            div,
            label,
            input{
                width: 80%;
                padding: 0.7% 0;
            }
            input[type='checkbox']{
                transform: scale(1.6);
                width: auto;
            }
        }
        .buttonsContainer{
            margin-top: 3vh;
            div{
                text-align: center;
                padding: 12px;
                margin: 0 17px;
            }
        }
    }
}

    
