.proContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    .listaDiv{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        width: 80%;  
        h2{
            margin-top: 30px;
        }      
        .productContainer{
            display: flex;
            justify-content: center;
            height: auto;
            width: 180px;
            flex-direction: column;
            align-items: center;
            background-color: #893ef3;
            margin: 15px;
            border-radius: 15px;
            color: white;
            box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
            .optionButtons{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                img{
                    padding: 5px;
                    cursor: pointer;   
                    margin: 0px 15px 15px 0;                 
                    width: 25px;
                    border-radius: 10px;
                    &:hover{
                        background-color: #e5d2ff;                        
                    }
                    user-select: none;
                }
            }
            .imgContainer{                
                border-radius: 6px;
                height: 100px;
                width: 95%;
                margin: 5px;
                margin-top: 0;
                user-select: none;
                img{
                    height: 100%;
                    width: 90%;
                    border-radius: 4px;
                }
            }
            .details{
                display: flex;
                flex-direction: column;
                padding: 0px 20px;
                align-items: center;
                width: 100%;
                .nameProduct{
                    font-weight: 600;
                    font-size: large;
                }
                .stockPrecio{
                    display: flex;
                    font-size: small;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .buttonContainer{
                display: flex;
                div{
                    background-color: transparent;
                    color: #e5d2ff;
                    border-radius: 6px;
                    padding: 0px 16px;
                    font-size: 21px;
                    border: 1px solid;
                    margin: 10px;
                    cursor: pointer;
                    user-select: none;
                }
                div:hover{
                    background-color: #a262fc;                                                        
                }
                .disable{
                    pointer-events: none;
                    background-color: #a15eff;
                }
            }                                    
        }
    }    
}
