.proContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    .listaDiv{
        display: flex;
        flex-direction: column;
        width: auto;
        .productContainer{
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        background-color: #8338ec;
        margin: 15px;
        border-radius: 15px;
        color: white;
        
        .details{
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
            align-items: flex-start;
            .nameProduct{
                font-weight: 600;
                font-size: large;
            }
            .stockPrecio{
                display: flex;
                font-size: small;
                align-items: flex-start;
            }
        }

        .buttonContainer{
            div{
                
                background-color: transparent;
                border-color: #ff006e;
                border-radius: 6px;
                padding:10px;
                border: 1px solid;
                margin: 10px;
            }
            div:hover{
                background-color: white;
                border-color: black;
                color: black;

            }
        }

        .imgContainer{
            border: 1px solid blanchedalmond;
            border-radius: 6px;
            height: 50%;

            img{
                height: 100%;
            }

        }
        
            
        
        
        }
    }
    
}
