html{
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: 'Nunito', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
  overflow: hidden;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 500px;  
}
form input{
  margin: 2px;
  text-align: center;
}

a{
  text-decoration:none;
}
a:hover{
  text-decoration: none;
}

button{
  background-color: transparent;
  border: 1px solid #f1f1f1;
  border-radius: 6px;  
  
}
button:focus{
  outline-color: #cfcfcf;
}
button:hover{
  background-color: #f1f1f1;
}
